<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/_next/static/chunks/de5bda265ad71d90.css" />
  <title>You're the best!</title>
  <meta name="description"
    content="A cute little website filled with compliments, surprises, and a heartfelt message made just for you." />
  <link rel="icon" href="/favicon.ico" sizes="64x64" type="image/x-icon" />
</head>

<body class="outfit_43b16714-module__GatBpq__className bg-rose-50 antialiased select-none">
  <div id="root"></div>
  <script type="module" src="/src/main.jsx"></script>
</body>

</html>